.layout {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "about portrait successes"
    ". . ."
    "left-projects center-projects right-projects"
    "left-projects center-projects right-projects";
}

.about {
  grid-area: about;
  background-color: crimson;
}

.portrait {
  grid-area: portrait;
  background-color: lightblue;
}

.successes {
  grid-area: successes;
  background-color: lightgreen;
}

.left-projects {
  grid-area: left-projects;
  background-color: lightyellow;
}

.right-projects {
  grid-area: right-projects;
  background-color: lightyellow;
}

.center-projects {
  grid-area: center-projects;
  background-color: lightcoral;
}